
html{
    background-color: black;
    color : white;
    font-family: 'Roboto', sans-serif;
    font-kerning: normal;
}


section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: left;
}


.image_section{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainImage{
    margin: 0;
}

.text_section{
    height: 80vh;
}

#mainTitle{
    font-size: 40px;
    font-weight:500;
    letter-spacing: -0.2px;
    line-height: 45px;
}


#mainDescription{
    font-weight:400;
    font-size: 16px;
    vertical-align : bottom;
    margin-top: 40%;
    opacity: 0.7;
    line-height: 25px;
}

.long{
    font-size: 25px !important;
    line-height: 30px !important;
}

.short{
    font-size: 50px !important;
    line-height: 50px !important;
}

#pagenum{
    position: absolute;
    top:0px;
    right: 0px; 
}

.control_wrapper{
    position: absolute;
    bottom: -5px;
    left: 0px;
    display: flex;
}

.control_wrapper img{
    width : 40px;
    margin-right: 5px;
}

.next:hover{
    opacity: 1;
}

.prev:hover{
    opacity: 1;
}



/* Border around the body tag */
#top, #bottom, #left, #right {
    background:transparent;
    position: fixed;
    transition: background-color 0.4s;
    z-index: 2;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


footer{
    position : fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
    cursor: pointer;
}


footer img{
  width: 2%; /* or any custom size */
  height: 2%;
  margin:0 30px 0 30px;
  opacity: 0.8;
}



/* information icon on the bottom right corner */
#info-icon {
    position: relative;
}

#info-icon img {
    z-index: 10;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    margin: 0px 25px 25px 0px;
}

.additional-info {
    display: none;
}

img:hover + .additional-info  {
    display: block;
    z-index: 1;
}

#mobileMessage  {
    display: none !important;
}

@media screen and (max-width: 700px) {

    html{
        background-color: black;
        }

    .control_wrapper img{
        display: none !important;
    }

    #mainTitle{
        display: none !important;
    }
    
    #mainDescription{
        display: none !important;
    }

    #mainImage{
        display: none !important;
    }

    #pagenum{
        display: none !important;
    }
    
    #mobileMessage  {
        display: block !important;
        font-size: 30px;
        line-height: 40px;
        padding: 30px;
        color: white;
        z-index: 20;
    }

 

  }