/* CSS files add styling rules to your content */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0vh 0vw 0vh 0vw !important;
  margin: 0px !important;
  background-color: #fae123;
}

 {
  font-style: italic;
  color: #373fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  text-align:center;
  display:block;
}


.exampleSection {
  padding: 30vh 0 0 0;


}


.buttonWide{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}


.eachExample{
  background-color:#555
  padding:15vh 0 15vh 0;
}

.hero{
  padding: 10vh 0 10vh 0;
  align: center;
  text-align: center;
}


/* .slides img{
  vertical-align: middle;
} */
#id{
  width:80vw;
}


header{

}
