/* CSS files add styling rules to your content */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0vh 0vw 0vh 0vw !important;
  margin: 0px !important;


}
.homePage{
  /* background-color: #fae123; */
  height:100vh;
}



img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  text-align:center;
  display:block;
}


.exampleSection {
  /* padding: 30vh 0 0 0; */


}

h1 {
  font-size: 20 rem;
}

.howTo{
font-weight: 400 !important;
padding-bottom: 10vh;
font-size: 36px;
line-height: 1.3em;

}


.buttonWide{
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;

}
.line-break{
  border-top: 6px solid purple;
}


.eachExample{
padding:0 2.5vw 0 2.5vw;


}

.eachExample h3{
  padding-left: 5px;
}

.eachExample p{
  padding-left: 5px;
}

.hero{
  padding: 10vh 0 10vh 0;
  align: center;
  text-align: center;


.slides {
/*   margin: 5vh 5vh; */
  align: center;
  text-align: center;
  display:block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 90vwv;
  text-align: center;
}



/* .slides img{
  vertical-align: middle;
} */
#id{
  width:80vw;
}


header{

}





/* information icon on the bottom right corner */
#info-icon {
    position: relative;
    margin: 15vh 15vh;
}

#info-icon img {
    z-index: 1;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 5%;
    height: 5%;
}

.additional-info {
    display: none;
}

a:hover + .additional-info {
    display: block;
}

#arenaurl{
  width: 60vw;
  height: 5vh;
  border-radius: 1rem;
}
#submit{
  height: 5vh;
}

.searchSection{

  padding:10vh 0 10vh 0;


}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5vh 0 5vh 0;
}

footer img {
  margin: 0 10px 0 10px;
  cursor: pointer;
}
